@{
    ViewBag.Title = "About";
}
<div>
    @{
        WebGrid grid = new WebGrid(Model);
        @grid.GetHtml(
             tableStyle: "grid table",
             fillEmptyRows: false,
             headerStyle: "gvHeading",
             alternatingRowStyle: "gvAlternateRow",
             rowStyle: "gvRow",
             footerStyle: "gvFooter",
             mode: WebGridPagerModes.All,
             firstText: "<< Primeiro",
             previousText: "< Anterior",
             nextText: "Próximo >",
             lastText: "Último >>",
             columns: new[] {
             grid.Column("data_entrada",header: "Data"),
             grid.Column("material_id.nome", header: "Material",  style: "text-align-center"),
             grid.Column("quantidade", header: "Quantidade",  style: "text-align-center"),
             grid.Column("valor", header: "Valor Total",  style: "text-align-center"),
             grid.Column("tipo_entrada", header: "Tipo Operação",  style: "text-align-center")
})
    }
</div>

<script>

    function GetData(id) {
            @foreach (TesteGlobal5.Models.CadEstoqueDto item in Model)
{
    <text>
if (@item.id == id) {
      $("#id").val('@item.id')
    $("#valor").val('@Convert.ToDecimal(item.valor).ToString("N1")')
    $("#tipo_entrada:option").val('@item.tipo_entrada');
    $("#quantidade").val('@item.quantidade');
    $("#material_id_id").val('@item.material_id.id');
    $("#fornecedor_id_id").val('@item.fornecedor_id.id');
    }
    </text>
}
    }

    function Editar(id) {
        GetData(id)
    }

</script>