
@{
    WebGrid grid = new WebGrid(Model);
    @grid.GetHtml(
         tableStyle: "grid table",
         fillEmptyRows: false,
         headerStyle: "gvHeading",
         alternatingRowStyle: "gvAlternateRow",
         rowStyle: "gvRow",
         footerStyle: "gvFooter",
         mode: WebGridPagerModes.All,
         firstText: "<< Primeiro",
         previousText: "< Anterior",
         nextText: "Próximo >",
         lastText: "Último >>",
         columns: new[] {
         grid.Column("Id",header: "ID"),
         grid.Column("codigo",header: "Codigo"),
         grid.Column("nome", header: "Nome",  style: "text-align-center"),
          grid.Column("", header: "",  style: "text-align-center", format:@<text> <a href="#" onclick="Editar('@item.id')"> Editar </a> </text>),
grid.Column("", header: "",  style: "text-align-center", format:@<text> <a href="#" onclick="Excluir('@item.id')"> Excluir </a> </text>)


})
}

<script>

    function GetData(id) {

         @foreach (TesteGlobal5.Models.CadMaterialDto item in Model)
 {
     <text>
 if (@item.id == id) {
         $("#id").val('@item.id')
         $("#codigo").val('@item.codigo')
         $("#nome").val('@item.nome');
     }
     </text>
 }
    }

    function Editar(id) {
        GetData(id)
    }


</script>